@section Styles
{
<link rel="stylesheet" href="~/css/catalog.css">
}

<div id="catContainer" class="container-fluid">
    <div class="catalog row">
        <!-- Display the list of cars -->
    </div>
</div>

@section Scripts
{
<script src="~/js/catalog.js"></script>
}