@section Styles
{
<link rel="stylesheet" href="~/css/register.css">
}

<form>
  <div class="form-group row">
    <label for="imageURL" class="col-3 col-form-label">Image URL</label> 
    <div class="col-9">
      <input id="imageURL" name="imageURL" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="make" class="col-3 col-form-label">Make</label> 
    <div class="col-9">
      <input id="make" name="make" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="model" class="col-3 col-form-label">Model</label> 
    <div class="col-9">
      <input id="model" name="model" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="year" class="col-3 col-form-label">Year</label> 
    <div class="col-9">
      <input id="year" name="year" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="color" class="col-3 col-form-label">Color</label> 
    <div class="col-9">
      <input id="color" name="color" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="cylinders" class="col-3 col-form-label">Cylinders</label> 
    <div class="col-3">
      <input id="cylinders" name="cylinders" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="horsePower" class="col-3 col-form-label">Horsepower</label> 
    <div class="col-3">
      <input id="horsePower" name="horsePower" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="doors" class="col-3 col-form-label"># of Doors</label> 
    <div class="col-3">
      <input id="doors" name="doors" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="seats" class="col-3 col-form-label"># of Seats</label> 
    <div class="col-3">
      <input id="seats" name="seats" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="mileage" class="col-3 col-form-label"># of Mileage</label> 
    <div class="col-3">
      <input id="mileage" name="mileage" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="dailyPrice" class="col-3 col-form-label">Daily Price</label> 
    <div class="col-3">
      <input id="dailyPrice" name="dailyPrice" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-3 col-form-label">Description</label> 
    <div class="col-9">
      <textarea id="description" name="description" cols="40" rows="5" class="form-control"></textarea>
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-3 col-9">
      <button id="btnSave" type="button" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

@section Scripts
{
<script src="~/js/register.js"></script>
}