@{
ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Car Rental</h1>
    <p>The best solution for vehichles!</p>
    <img src="https://www.detailxpertsfranchise.com/wp-content/uploads/2018/03/car-rent-1-e1519151734372.jpg"
        alt="Image Logo">
</div>